body{
    background-color: white;
}
form{
    margin: 20px;
}
.container{
    width: 50%;
}
.navbar{
    position: relative;
    width: 30%;
    /* height: 30px; */
    /* padding: 10px; */
    margin-left: auto;
    /* margin-right: auto; */
    top: 65px;
    /* border:  2px solid red; */
}
.tool{
    margin-top: 20px;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 80%;
    background-color: rgb(22, 19, 19);
}
.website-title{
    text-align: center;
    background-color: blue;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    position: fixed;
}